<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Emily's Custom Reports</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginUser.testSetup()[pri:0, instance:tests.LoginUser@43bc63a3]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:14</td>   <td>11421</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginUser.emptyUsername()[pri:0, instance:tests.LoginUser@43bc63a3]">emptyUsername</td> 
  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:15</td>   <td>12052</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginUser.tearDown()[pri:0, instance:tests.LoginUser@43bc63a3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:16</td>   <td>13514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginUser.testSetup()[pri:0, instance:tests.LoginUser@43bc63a3]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:22</td>   <td>18812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginUser.invalidUsername()[pri:0, instance:tests.LoginUser@43bc63a3]">invalidUsername</td> 
  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:22</td>   <td>19562</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginUser.tearDown()[pri:0, instance:tests.LoginUser@43bc63a3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:24</td>   <td>20825</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;LoginUser.testSetup()[pri:0, instance:tests.LoginUser@43bc63a3]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:29</td>   <td>26204</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginUser.validUser()[pri:0, instance:tests.LoginUser@43bc63a3]">validUser</td> 
  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="6161f7">  <td>22/05/23 11:41:30</td>   <td>26938</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;LoginUser.tearDown()[pri:0, instance:tests.LoginUser@43bc63a3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>22/05/23 11:41:31</td>   <td>28434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SetFilters.loginUser()[pri:0, instance:tests.SetFilters@702657cc]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>22/05/23 11:41:37</td>   <td>34197</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SetFilters.setFilters()[pri:0, instance:tests.SetFilters@702657cc]">setFilters</td> 
  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>22/05/23 11:41:38</td>   <td>34901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SetFilters.tearDown()[pri:0, instance:tests.SetFilters@702657cc]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="8fb9b7">  <td>22/05/23 11:41:39</td>   <td>36212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PurchaseItem.loginUser()[pri:0, instance:tests.PurchaseItem@6a6cb05c]">&gt;&gt;loginUser</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="8fb9b7">  <td>22/05/23 11:41:45</td>   <td>42475</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PurchaseItem.purchaseItem()[pri:0, instance:tests.PurchaseItem@6a6cb05c]">purchaseItem</td> 
  <td>main@130668770</td>   <td></td> </tr>
<tr bgcolor="8fb9b7">  <td>22/05/23 11:41:47</td>   <td>44158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;PurchaseItem.tearDown()[pri:0, instance:tests.PurchaseItem@6a6cb05c]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@130668770</td>   <td></td> </tr>
</table>
