<h2>Reporter output</h2><table><tr><td>Browser is Maximized.</td></tr>
<tr><td>Website URL is opened.</td></tr>
<tr><td>Username is empty.</td></tr>
<tr><td>Password is entered.</td></tr>
<tr><td>Sign in Button is clicked.</td></tr>
<tr><td>Correct error message appeared.</td></tr>
<tr><td>Browser is Maximized.</td></tr>
<tr><td>Website URL is opened.</td></tr>
<tr><td>Invalid UserName is entered.</td></tr>
<tr><td>Password is entered.</td></tr>
<tr><td>Sign in Button is clicked.</td></tr>
<tr><td>Correct error message appeared.</td></tr>
<tr><td>Browser is Maximized.</td></tr>
<tr><td>Website URL is opened.</td></tr>
<tr><td>Window Title is correct.</td></tr>
<tr><td>Username is entered.</td></tr>
<tr><td>Password is entered.</td></tr>
<tr><td>Sign in button is clicked.</td></tr>
<tr><td>User is logged in!</td></tr>
<tr><td>Browser is Maximized</td></tr>
<tr><td>Website URL is opened</td></tr>
<tr><td>Username is entered.</td></tr>
<tr><td>Password is entered.</td></tr>
<tr><td>Sign in button is clicked.</td></tr>
<tr><td>User is logged in!</td></tr>
<tr><td>Filters Icon is visible</td></tr>
<tr><td>Filter Icon is clicked.</td></tr>
<tr><td>Filter is set.</td></tr>
<tr><td>Set filter and applied filter match.</td></tr>
<tr><td>Browser is Maximized</td></tr>
<tr><td>Website URL is opened</td></tr>
<tr><td>Username is entered.</td></tr>
<tr><td>Password is entered.</td></tr>
<tr><td>Sign in button is clicked.</td></tr>
<tr><td>User is logged in!</td></tr>
<tr><td>Item is clicked.</td></tr>
<tr><td>Items in cart and items in cart icon number match.</td></tr>
<tr><td>Cart icon is clicked</td></tr>
<tr><td>Item exists in cart.</td></tr>
<tr><td>Page Title is correct.</td></tr>
<tr><td>First Name is Entered</td></tr>
<tr><td>Last Name is Entered</td></tr>
<tr><td>Postal Code is entered</td></tr>
<tr><td>Continue Button is clicked</td></tr>
<tr><td>Page Title is correct.</td></tr>
<tr><td>Items quantity is correct</td></tr>
<tr><td>Your order has been completed :D</td></tr>
<tr><td>Page Title is correct.</td></tr>
<tr><td>Completed Order Message appeared.</td></tr>
</table>